<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
    <script src="/app.js"></script>
    {{{section 'head'}}}
  </head>
  <body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    {{{section 'script'}}}
  </body>
</html>
